<aside class="post-info">
    <i class="fa-solid fa-clock"></i> {{ if .Time }} On {{ .Date }} at {{ .Time }} {{- else }} On {{ .Date }} {{ end }}
</aside>

</article>



<hr>
<p>
    <a rel="me" href="https://chrissexton.org">Back to my omg.lol page!</a>
</p>
</div>
<div id="footer">
    <a href="https://home.omg.lol/referred-by/cws"><span class="logotype">omg<span class="logotype dot" style="color: #f06595;">.</span>lol</span><br>
        <svg viewbox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" id="prami">
            <g transform="matrix(1.886789, 0, 0, -1.886789, -351.413971, 1414.84082)">
                <g id="prami-body" transform="matrix(1, 0, 0, 1, 318.75, 511.366486)">
                    <path d="m 0,0 c -20.346,0 -40.691,7.762 -56.215,23.285 l -53,53 c -31.047,31.047 -31.047,81.383 0,112.43 29.997,29.997 78,31.012 109.215,3.044 31.216,27.967 79.219,26.952 109.215,-3.044 31.047,-31.047 31.047,-81.383 0,-112.43 l -53,-53 C 40.692,7.762 20.346,0 0,0" style="fill-opacity:1;fill-rule:nonzero;stroke:none" class="prami-body"></path>
                </g>
                <g id="prami-left-eye-pupil" transform="matrix(1, 0, 0, 1, 303.125, 656.25)">
                    <path d="m 0,0 c 0,-3.452 -2.798,-6.25 -6.25,-6.25 -3.452,0 -6.25,2.798 -6.25,6.25 0,3.452 2.798,6.25 6.25,6.25 C -2.798,6.25 0,3.452 0,0" style="fill-opacity:1;fill-rule:nonzero;stroke:none" class="prami-left-eye"></path>
                </g>
                <g id="prami-left-eye" transform="matrix(1, 0, 0, 1, 303.125, 656.25)">
                    <path d="m 0,0 c 0,-3.452 -2.798,-6.25 -6.25,-6.25 -3.452,0 -6.25,2.798 -6.25,6.25 0,3.452 2.798,6.25 6.25,6.25 C -2.798,6.25 0,3.452 0,0 Z" style="fill:none;stroke-width:6;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" class="prami-left-eye-pupil"></path>
                </g>
                <g id="prami-right-eye-pupil" transform="matrix(1, 0, 0, 1, 346.875, 656.25)">
                    <path d="m 0,0 c 0,-3.452 -2.798,-6.25 -6.25,-6.25 -3.452,0 -6.25,2.798 -6.25,6.25 0,3.452 2.798,6.25 6.25,6.25 C -2.798,6.25 0,3.452 0,0 Z" style="fill:none;stroke-width:6;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" class="prami-right-eye-pupil"></path>
                </g>
                <g id="prami-right-eye" transform="matrix(1, 0, 0, 1, 346.875, 656.25)">
                    <path d="m 0,0 c 0,-3.452 -2.798,-6.25 -6.25,-6.25 -3.452,0 -6.25,2.798 -6.25,6.25 0,3.452 2.798,6.25 6.25,6.25 C -2.798,6.25 0,3.452 0,0" style="fill-opacity:1;fill-rule:nonzero;stroke:none" class="prami-left-eye"></path>
                </g>
                <g id="prami-left-cheek" transform="matrix(1, 0, 0, 1, 281.25, 637.5)">
                    <path d="M 0,0 C 0,17.259 -13.991,31.25 -31.25,31.25 -48.509,31.25 -62.5,17.259 -62.5,0 c 0,-17.259 13.991,-31.25 31.25,-31.25 C -13.991,-31.25 0,-17.259 0,0" style="fill-opacity:1;fill-rule:nonzero;stroke:none" class="prami-left-cheek"></path>
                </g>
                <g id="prami-right-cheek" transform="matrix(1, 0, 0, 1, 418.75, 637.5)">
                    <path d="M 0,0 C 0,17.259 -13.991,31.25 -31.25,31.25 -48.509,31.25 -62.5,17.259 -62.5,0 c 0,-17.259 13.991,-31.25 31.25,-31.25 C -13.991,-31.25 0,-17.259 0,0" style="fill-opacity:1;fill-rule:nonzero;stroke:none" class="prami-right-cheek"></path>
                </g>
                <g id="prami-mouth" transform="matrix(1, 0, 0, 1, 296.88681, 631.243286)">
                    <path d="M 0,0 C 10.004,-16.325 33.722,-16.325 43.726,0" style="fill:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" class="prami-mouth"></path>
                </g>
            </g></svg></a>
</div>
</main>
</body>
</html>
